:root{
  
}
h1{
  text-align:center;
  background-color: darkgreen;
}
.container
{
  width: 500px;
  margin: auto;
  
}
input,label
{
  display:block;
  margin-bottom: .5rem;
  
  
}
button{
  margin-bottom: 1rem;
  border-bottom-left-radius: 0.5px; 
  margin-right: 100px;
}
textarea 
{
  width: 500px;
}
