@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body
{
  max-width: 1200px;
  background-color: lightgrey;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  font-size: large;
  align-items: center;
  justify-content: center;
  }

#birth-date
{
  align-items: center;
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: white;
  
}

#lucky-no
{
  align-items: center;
  width: 100%;
  padding: .7rem;
  margin-bottom: 1rem;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  background-color: white;
}

label{
  align-items: left;

  display:block;
  font-size: 1.5rem;
}

#output
{
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

h1{
  text-align:center;
  background-color: darkgray;
  padding: 1rem 2rem;

}
/* .container
{
  
  margin-left: auto;
  margin-right: auto;
  
} */

#check-button{
  display: block;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-bottom-left-radius: 0.5px; 
  margin-right: auto;
  margin-left: auto;
  border-radius: 00.5rem;
  background-color: darkgray;
  
}

